In [3]:
import pandas as pd
from IPython.display import display

In [14]:
base_df = pd.read_csv("../RAW_DATA/flinfo2022.csv")
general_stats_df = pd.read_csv("../RAW_DATA/flhealthcharts_summary_2021_wide_snake.csv")
main_pct_df = pd.read_csv("../RAW_DATA/flhealthcharts_model_ready_full.csv")

display(base_df)
display(general_stats_df)
display(main_pct_df)

,Unnamed: 0,FIPS,Admin2,Province_State,Country_Region,Last_Update,Latitude,Longitude,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,lethality,population
0,1014,12001,Alachua,Florida,US,2022-09-19 04:21:49,29.678665,-82.359282,83415,733,NaN,NaN,"Alachua, Florida, US",31004.337597,0.878739,0.008787,269043.0
1,1015,12003,Baker,Florida,US,2022-09-19 04:21:49,30.330601,-82.284675,9940,146,NaN,NaN,"Baker, Florida, US",34029.441972,1.468813,0.014688,29210.0
2,1016,12005,Bay,Florida,US,2022-09-19 04:21:49,30.265487,-85.621226,53174,850,NaN,NaN,"Bay, Florida, US",30436.450016,1.598526,0.015985,174705.0
3,1017,12007,Bradford,Florida,US,2022-09-19 04:21:49,29.950797,-82.166116,8669,167,NaN,NaN,"Bradford, Florida, US",30740.044679,1.926404,0.019264,28201.0
4,1018,12009,Brevard,Florida,US,2022-09-19 04:21:49,28.294095,-80.730910,164771,2307,NaN,NaN,"Brevard, Florida, US",27373.235295,1.400125,0.014001,601942.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1077,12125,Union,Florida,US,2022-09-19 04:21:49,30.044130,-82.374974,4872,120,NaN,NaN,"Union, Florida, US",31974.798189,2.463054,0.024631,15237.0
64,1078,12127,Volusia,Florida,US,2022-09-19 04:21:49,29.058589,-81.182633,141754,2152,NaN,NaN,"Volusia, Florida, US",25620.477006,1.518123,0.015181,553284.0
65,1079,12129,Wakulla,Florida,US,2022-09-19 04:21:49,30.165489,-84.398952,11507,132,NaN,NaN,"Wakulla, Florida, US",34105.930822,1.147128,0.011471,33739.0
66,1080,12131,Walton,Florida,US,2022-09-19 04:21:49,30.642040,-86.169357,19646,222,NaN,NaN,"Walton, Florida, US",26523.200713,1.130001,0.011300,74071.0
67,1081,12133,Washington,Florida,US,2022-09-19 04:21:49,30.613593,-85.660025,7385,117,NaN,NaN,"Washington, Florida, US",28991.481176,1.584292,0.015843,25473.0

,county,year,adults_who_are_current_smokers,adults_who_are_former_smokers,adults_who_are_inactive_or_insufficiently_active3,adults_who_are_obese3,adults_who_are_overweight3,adults_who_are_sedentary,adults_who_could_not_see_a_doctor_in_the_past_year_due_to_cost,adults_who_had_poor_physical_health_on_14_or_more_of_the_past_30_days,...,syphilis_infectious9,tetanus9,total_population1,tuberculosis_tb_9,unemployed_civilian_labor_force2,varicella9,vibriosis_excluding_cholera,white1,women_who_received_a_mammogram_in_the_past_year_aged_40_years_and_older_3,women_who_received_a_pap_test_in_the_past_year_aged_18_years_and_older_3
0,Alachua,2021,11.4,18.6,51.7,29.8,27.5,21.8,13.8,8.3,...,25.1,0,275435,2.1,4.8,1.6,2.5,192565,55.8,49.5
1,Baker,2021,29.7,26.0,61.7,36.4,34.3,34.9,21.8,22.0,...,10.5,0,28790,0.0,5.1,9.4,0.0,23714,56.6,37.7
2,Bay,2021,22.1,26.8,60.6,29.9,36.4,29.7,16.4,14.9,...,13.9,0,176851,1.9,4.6,1.7,2.0,145075,55.3,50.5
3,Bradford,2021,27.1,21.0,53.7,35.8,30.4,35.8,18.3,18.4,...,7.0,0,28824,0.0,5.0,1.2,0.0,22033,46.5,41.4
4,Brevard,2021,16.3,29.3,53.0,30.7,36.6,27.9,15.9,16.0,...,19.1,1,618491,1.4,4.8,1.5,1.3,513098,58.6,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Union,2021,32.4,21.8,57.3,38.9,35.9,26.4,21.4,22.5,...,21.3,0,15439,6.4,3.4,6.4,2.1,11443,54.6,41.7
63,Volusia,2021,18.5,30.0,58.2,35.5,30.7,25.1,17.6,15.2,...,16.1,1,564112,1.2,4.2,2.7,1.5,471237,55.7,43.3
64,Wakulla,2021,21.4,28.4,54.8,37.9,36.7,33.8,13.2,11.2,...,13.9,0,34829,0.0,3.3,1.0,2.0,28713,67.4,54.0
65,Walton,2021,28.6,27.6,56.0,34.3,37.9,31.4,21.0,19.7,...,4.0,0,79376,1.3,4.6,0.0,3.3,71148,52.3,43.2
66,Washington,2021,22.2,24.3,57.8,38.6,30.6,33.6,19.6,17.0,...,13.1,0,25514,1.3,5.6,5.3,0.0,20485,50.9,41.3

,county,year,pop_65plus,pop_total,obesity_pct,diabetes_deaths,smoking_pct,sedentary_pct,poverty_pct,hospital_beds,overweight_pct,pct_65plus
0,Alachua,2021,41738,275435,29.8,23.7,11.4,21.8,20.1,633.9,27.5,15.153484
1,Baker,2021,4216,28790,36.4,25.3,29.7,34.9,11.7,1419.3,34.3,14.643974
2,Bay,2021,33388,176851,29.9,29.9,22.1,29.7,12.9,415.2,36.4,18.879169
3,Bradford,2021,5286,28824,35.8,28.6,27.1,35.8,19.4,17.4,30.4,18.338884
4,Brevard,2021,151297,618491,30.7,20.1,16.3,27.9,10.6,314.9,36.6,24.462280
...,...,...,...,...,...,...,...,...,...,...,...,...
62,Union,2021,2368,15439,38.9,26.1,32.4,26.4,17.0,415.6,35.9,15.337781
63,Volusia,2021,143041,564112,35.5,26.9,18.5,25.1,12.9,288.6,30.7,25.356844
64,Wakulla,2021,5635,34829,37.9,14.9,21.4,33.8,6.2,0.0,36.7,16.179046
65,Walton,2021,16317,79376,34.3,17.5,28.6,31.4,12.8,183.6,37.9,20.556591
66,Washington,2021,4531,25514,38.6,56.1,22.2,33.6,22.3,232.5,30.6,17.758877

In [15]:
base_df = base_df.rename(columns={'Admin2': 'county'})
base_df = base_df[base_df['county'] != 'Unassigned']
base_df.head()

,Unnamed: 0,FIPS,county,Province_State,Country_Region,Last_Update,Latitude,Longitude,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,lethality,population
0,1014,12001,Alachua,Florida,US,2022-09-19 04:21:49,29.678665,-82.359282,83415,733,NaN,NaN,"Alachua, Florida, US",31004.337597,0.878739,0.008787,269043.0
1,1015,12003,Baker,Florida,US,2022-09-19 04:21:49,30.330601,-82.284675,9940,146,NaN,NaN,"Baker, Florida, US",34029.441972,1.468813,0.014688,29210.0
2,1016,12005,Bay,Florida,US,2022-09-19 04:21:49,30.265487,-85.621226,53174,850,NaN,NaN,"Bay, Florida, US",30436.450016,1.598526,0.015985,174705.0
3,1017,12007,Bradford,Florida,US,2022-09-19 04:21:49,29.950797,-82.166116,8669,167,NaN,NaN,"Bradford, Florida, US",30740.044679,1.926404,0.019264,28201.0
4,1018,12009,Brevard,Florida,US,2022-09-19 04:21:49,28.294095,-80.730910,164771,2307,NaN,NaN,"Brevard, Florida, US",27373.235295,1.400125,0.014001,601942.0

In [16]:
# Get unique counties from each dataframe
counties_master = set(base_df['county'].unique())
counties_general = set(general_stats_df['county'].unique())
counties_main = set(main_pct_df['county'].unique())

# Counties in all three
common_to_all = counties_master & counties_general & counties_main
print("Counties in all three dataframes:")
print(common_to_all)

# Counties only in base_df
only_master = counties_master - counties_general - counties_main
print("\nCounties only in base_df:")
print(only_master)

# Counties only in general_stats_df
only_general = counties_general - counties_master - counties_main
print("\nCounties only in general_stats_df:")
print(only_general)

# Counties only in main_pct_df
only_main = counties_main - counties_master - counties_general
print("\nCounties only in main_pct_df:")
print(only_main)

Counties in all three dataframes:
{'Bradford', 'Putnam', 'Hardee', 'Collier', 'St. Johns', 'Palm Beach', 'Liberty', 'Calhoun', 'Jefferson', 'Miami-Dade', 'Washington', 'Gulf', 'Orange', 'Seminole', 'Madison', 'Volusia', 'Bay', 'Gadsden', 'Escambia', 'Hillsborough', 'Pinellas', 'Charlotte', 'Polk', 'Leon', 'Taylor', 'Manatee', 'Hernando', 'Columbia', 'St. Lucie', 'Indian River', 'Glades', 'Jackson', 'Holmes', 'Duval', 'Brevard', 'Baker', 'Suwannee', 'Okeechobee', 'Santa Rosa', 'Broward', 'Lee', 'Osceola', 'Flagler', 'Levy', 'Martin', 'Franklin', 'Gilchrist', 'Clay', 'Wakulla', 'Lafayette', 'Highlands', 'Okaloosa', 'Dixie', 'Union', 'Marion', 'Pasco', 'Citrus', 'Hendry', 'Sarasota', 'Alachua', 'Lake', 'Nassau', 'DeSoto', 'Hamilton', 'Walton', 'Sumter', 'Monroe'}

Counties only in base_df:
set()

Counties only in general_stats_df:
set()

Counties only in main_pct_df:
set()

In [19]:
base_df.columns, general_stats_df.columns, main_pct_df.columns

(Index(['Unnamed: 0', 'FIPS', 'county', 'Province_State', 'Country_Region',
        'Last_Update', 'Latitude', 'Longitude', 'Confirmed', 'Deaths',
        'Recovered', 'Active', 'Combined_Key', 'Incident_Rate',
        'Case_Fatality_Ratio', 'lethality', 'population'],
       dtype='object'),
 Index(['county', 'year', 'adults_who_are_current_smokers',
        'adults_who_are_former_smokers',
        'adults_who_are_inactive_or_insufficiently_active3',
        'adults_who_are_obese3', 'adults_who_are_overweight3',
        'adults_who_are_sedentary',
        'adults_who_could_not_see_a_doctor_in_the_past_year_due_to_cost',
        'adults_who_had_poor_physical_health_on_14_or_more_of_the_past_30_days',
        ...
        'syphilis_infectious9', 'tetanus9', 'total_population1',
        'tuberculosis_tb_9', 'unemployed_civilian_labor_force2', 'varicella9',
        'vibriosis_excluding_cholera', 'white1',
        'women_who_received_a_mammogram_in_the_past_year_aged_40_years_and_older_3',
        'women_who_received_a_pap_test_in_the_past_year_aged_18_years_and_older_3'],
       dtype='object', length=111),
 Index(['county', 'year', 'pop_65plus', 'pop_total', 'obesity_pct',
        'diabetes_deaths', 'smoking_pct', 'sedentary_pct', 'poverty_pct',
        'hospital_beds', 'overweight_pct', 'pct_65plus'],
       dtype='object'))

In [34]:
"""
master_df = base_df[["county", "Case_Fatality_Ratio"]].merge(
    general_stats_df, on="county", how="inner"
).merge(
    main_pct_df, on="county", how="inner"
)
"""
#master_df = base_df[["county", "Case_Fatality_Ratio"]].merge(main_pct_df, on="county", how="inner")
master_df = base_df[["county", "Case_Fatality_Ratio"]].merge(general_stats_df, on="county", how="inner")

master_df = master_df.dropna(axis=1, how="any")

master_df.head()

,county,Case_Fatality_Ratio,year,adults_who_are_current_smokers,adults_who_are_former_smokers,adults_who_are_inactive_or_insufficiently_active3,adults_who_are_obese3,adults_who_are_overweight3,adults_who_are_sedentary,adults_who_could_not_see_a_doctor_in_the_past_year_due_to_cost,...,syphilis_infectious9,tetanus9,total_population1,tuberculosis_tb_9,unemployed_civilian_labor_force2,varicella9,vibriosis_excluding_cholera,white1,women_who_received_a_mammogram_in_the_past_year_aged_40_years_and_older_3,women_who_received_a_pap_test_in_the_past_year_aged_18_years_and_older_3
0,Alachua,0.878739,2021,11.4,18.6,51.7,29.8,27.5,21.8,13.8,...,25.1,0,275435,2.1,4.8,1.6,2.5,192565,55.8,49.5
1,Baker,1.468813,2021,29.7,26.0,61.7,36.4,34.3,34.9,21.8,...,10.5,0,28790,0.0,5.1,9.4,0.0,23714,56.6,37.7
2,Bay,1.598526,2021,22.1,26.8,60.6,29.9,36.4,29.7,16.4,...,13.9,0,176851,1.9,4.6,1.7,2.0,145075,55.3,50.5
3,Bradford,1.926404,2021,27.1,21.0,53.7,35.8,30.4,35.8,18.3,...,7.0,0,28824,0.0,5.0,1.2,0.0,22033,46.5,41.4
4,Brevard,1.400125,2021,16.3,29.3,53.0,30.7,36.6,27.9,15.9,...,19.1,1,618491,1.4,4.8,1.5,1.3,513098,58.6,48.6

In [40]:
import numpy as np
import pandas as pd

def drop_collinear_features(df, threshold=0.9):
    corr_matrix = df.corr().abs()
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    to_drop = [column for column in upper.columns if any(upper[column] > threshold)]
    return df.drop(columns=to_drop), to_drop

In [41]:
# Separate features & target
X = master_df.drop(columns=["county", "Case_Fatality_Ratio"])
y = master_df["Case_Fatality_Ratio"]

# Drop collinear features
X_reduced, dropped_features = drop_collinear_features(X, threshold=0.9)

print("Dropped features due to collinearity:", dropped_features)
print("Remaining features:", X_reduced.shape[1])

Dropped features due to collinearity: ['adults_who_said_their_overall_health_was_good_to_excellent', 'adults_with_good_physical_health', 'average_number_of_days_where_poor_mental_or_physical_health_interfered_with_activities_of_daily_living_in_the_past_30_days_among_adults_who_have_had_at_least_one_day_of_poor_mental_or_physical_health', 'average_number_of_unhealthy_mental_days_in_the_past_30_days', 'average_number_of_unhealthy_physical_days_in_the_past_30_days', 'county_public_health_department_expenditures_in_dollars12', 'hepatitis_b_chronic9', 'hospitalizations_from_or_with_diabetes_as_any_listed_diagnosis7', 'other1', 'population_aged_0_17_years_1', 'population_aged_18_64_years_1', 'population_aged_65_years_and_older_1', 'preterm_with_low_birth_weight', 'streptococcus_pneumoniae_invasive_disease_aged_0_5_years_9', 'total_population1', 'white1']
Remaining features: 92

In [35]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import numpy as np

X = master_df.drop(columns=["Case_Fatality_Ratio", "county"])
y = master_df["Case_Fatality_Ratio"]

# Ridge regression
ridge = Pipeline([
    ("scaler", StandardScaler()),
    ("model", Ridge(alpha=1.0))
])
ridge_scores = cross_val_score(ridge, X, y, cv=5, scoring="r2")
print("Ridge RÂ²:", np.mean(ridge_scores))

# Lasso regression
lasso = Pipeline([
    ("scaler", StandardScaler()),
    ("model", Lasso(alpha=0.01))
])
lasso_scores = cross_val_score(lasso, X, y, cv=5, scoring="r2")
print("Lasso RÂ²:", np.mean(lasso_scores))

# Random Forest
rf = RandomForestRegressor(n_estimators=500, random_state=1)
rf_scores = cross_val_score(rf, X, y, cv=5, scoring="r2")
print("Random Forest RÂ²:", np.mean(rf_scores))

Ridge RÂ²: -0.7376565028074886
Lasso RÂ²: -0.29439261529719823
Random Forest RÂ²: 0.2299341531929766